{% if request.session.is_story %}
    <ul>{{ story }}</ul>
<p>-----------------------------------------------</p>
    {% for childStory in child_story_list %}
<ul><a href="{% url 'writingprompts:story' prompt_id childStory.id %}">{{ childStory }}</a></ul>
    {% endfor %}
    <a href="{% url 'writingprompts:new_story' prompt_id%}">New Story</a>
{% else %}
    <p>{{ prompt }}</p>
    {% for childStory in child_story_list %}
        <ul>{{ childStory }}</ul>
    {% endfor %}
<a href="{% url 'writingprompts:new_story' prompt.pk %}">New Story</a>
{% endif %}
{{ request.session.is_story }}